@media only screen and (max-width: 500px) {
    .explore-page {
        width: 90vw;
        margin-left: 5vw;
    }
}
@media only screen and (min-width: 500px) {
    .explore-page {
        width: 70vw;
        margin-left: 15vw;
    }
}

.explore-container {
    width: 25vw !important;
    max-width: 300px !important;
    background-color: var(--boxback);
    border-radius: 7px;
    margin-left: 1%;
    margin-top: 50px;
    height: min-content;
    padding: 1%;
    font-size: 0.8rem;
    position: sticky !important;
    top: 65px;
}
.one-user-line {
    margin: 4px 0px;
}
.explore-container .pagi-buttons-container .pagi-button {
    background-color: var(--colorback);
}
.pale-blue {
    background-color: var(--paleblue) !important;
}
.explore-page {
    margin-top: 65px;
}