.pull-up .dropdown-menu {
    top: 45px;
}
.pull-left .dropdown-menu {
    left: -200px;
}
.navbar {
    background-color: var(--color2) !important;
    color: var(--lettersColor) !important;
}
.seen {
    background-color: var(--notifseen);
}
.not-seen {
    background-color: var(--white);
    font-weight: bold;
}
.notif {
    font-size: small;
    margin: 1% 0%;
    background-color: var(--colorback);
}
.notif:hover {
    background-color: var(--notifcolor2);
}
.dropdown-menu {
    background-color: var(--colorback) !important;
    width: 300px;
    z-index: 3 !important;
}
.notif-container {
    max-height: 60vh;
    overflow-y: scroll;
    background-color: var(--colorback);
}
.dropdown-item {
    color: var(--lettersColor);
}
.nav-link, .navbar-brand {
    color: var(--lettersColor) !important;
}
.navbar-photo {
    border-radius: 50%;
    height: 30px;
    width: 30px;
}
.navbar-photo2 {
    height: 30px;
    width: 30px;
}
.navbar-icon {
    height: 20px;
}
.navbar-icon2 {
    height: 23px;
    width: auto;
}
.notif-counter {
    font-size: 13px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    height: min-content;
    width: min-content;
    padding: 1px 7px;
}