@media only screen and (max-width: 830px) {
    .adjusted-width {
        width: 100%;
        margin-left: 0%;
    }
}
@media only screen and (min-width: 830px) {
    .adjusted-width {
        width: 80%;
        margin-left: 10%;
    }
}
@media only screen and (max-width: 500px) {
    .profile-info {
        flex-grow: 1;
    }
    .user-photo-profile-container {
        width: 150px;
    }
    .profile-header-container {
        width:305px;
    }
}
@media only screen and (min-width: 500px) and (max-width: 800px) {
    .profile-info {
        flex-grow: 1;
    }
    .user-photo-profile-container {
        width: 200px;
    }
    .profile-header-container {
        width:350px;
    }
}
@media only screen and (min-width: 800px) {
    .profile-info {
        width:  500px !important;
    }
    .user-photo-profile-container {
        width: 200px;
    }
    .profile-header-container {
        width: 870px;
    }
}
.profile-header-container {
    margin-left: auto;
    margin-right: auto;
}
.profile-info {
    background-color: var(--color2);
    color: var(--lettersColor);
    border-radius: 7px;
    margin: 5px;
    padding: 15px;
    min-height: min-content;
    overflow-wrap: break-word;
}
.profile-main {
    width: 80%;
    margin-left: 10%;
}
.profile-username {
    font-weight: bold;
    color: var(--lettersColor);
}
.user-photo-profile-container {
    border-radius: 50%;
    background-color: var(--userphotoback);
    height: auto;
}
.follows-pop-up {
    z-index: 1;
    top: 150px;
    position: absolute;
    background-color: var(--colorback);
    min-height: min-content;
    border: 3px solid var(--lettersColor);
    border-radius: 5px;
    animation:
        pop-up-appearing 1s;
}
.foll-button {
    background-color: var(--color2);
    color: var(--lettersColor);
}
.clean-style {
    border: none;
    border-radius: 5px;
}
.photo-pop-up {
    z-index: 1;
    top: 20%;
    width: min-content;
    margin-left: 0%;
    position: absolute;
    background-color: var(--color2);
    height: min-content;
    border-radius: 7px;
    padding: 7% 0%;
    animation:
        pop-up-appearing 1s;
}
.delete-account-button {
    font-weight: bolder;
}
.message {
    color: var(--lettersColor);
}