@media only screen and (max-width: 830px) {
    .one-activity-container {
        width: 100%;
    }
}
@media only screen and (min-width: 830px) {
    .one-activity-container {
        width: 80%;
    }
}
.one-activity-container {
    height: min-content;
    background-color: var(--boxback);
    margin: 0.5%;
    border-radius: 7px;
    padding: 1%;
    color: var(--lettersColor);
}
.as-link {
    color: var(--blue2);
}
.as-link:hover {
    text-decoration: underline;
}