.text-comment {
    margin: 2% 0%;
}

.comment-box {
    background-color: var(--colorback);
    border-radius: 7px;
    padding: 2%;
    padding-bottom: 1%;
    position: relative;
    margin: 2% 0%;
    width: 90%;
    min-width: 200px;
    margin-left: 5%;
    text-align: left;
    animation:
        pop-up-appearing 1s; 
}

.comment-date {
    margin-top: 6px;
    margin-left: 6px;
}

.user-photo-container-small {
    height:25px;
    width:25px;
    border-radius: 50%;
    padding: 0%;
    margin-right: 0.5%;
}

.comments-pop-up {
    z-index: 1;
    top: -100%;
    width: 50%;
    min-width: 150px;
    margin-left: 25%;
    position: absolute;
    background-color: var(--color2);
    min-height: min-content;
    border-radius: 7px;
    padding: 2% 2%;
    animation:
        pop-up-appearing 1s;
}

.modal-buttons-container {
    width: 80%;
    margin-left: 10%;
}

.comment-textarea {
    width: 80%;
    height: 40px;
    padding: 1%;
}
