.explore-container {
    width: 25vw !important;
    max-width: 300px !important;
    background-color: var(--color2);
    border-radius: 7px;
    margin-left: 1%;
    margin-top: 50px;
    height: min-content;
    padding: 1%;
    font-size: 0.8rem;
    position: sticky !important;
    top: 65px;
}
.one-user-line {
    margin:4% 0%;
}
.explore-container .pagi-buttons-container .pagi-button {
    background-color: var(--colorback);
}
.pale-blue {
    background-color: var(--paleblue);
}