html, body {
    min-width: 350px !important;
    position: relative !important;
    background-color: var(--colorback) !important;
}
/*
:root {
    --color2: #cadfed;
    --colorback: rgb(235, 234, 234);
    --boxback: white;
    --color3: rgb(225, 222, 222);
    --blue: blue;
    --blue2: rgb(0, 94, 255);
    --grey: grey;
    --black: black;
    --paleblue: rgba(137, 218, 247, 0.482);
    --unfollowgrey: rgb(250, 249, 249);
    --white: white;
    --notifseen: rgb(247, 244, 244);
}*/

h1,h2,h3,h4,h5 {
    color: var(--lettersColor);
}

hr {
    background-color: var(--hrcolor);
}
.main-home-container, .profile-main, .all-page {
    background-color: var(--colorback);
}

#root {
    --color2: #cadfed;
    --colorback: rgb(235, 234, 234);
    --boxback: white;
    --color3: rgb(225, 222, 222);
    --blue: blue;
    --blue2: rgb(0, 94, 255);
    --grey: grey;
    --black: black;
    --paleblue: rgba(137, 218, 247, 0.482);
    --unfollowgrey: rgb(250, 249, 249);
    --white: white;
    --notifseen: rgb(247, 244, 244);
    --postActionColor: white;
    --statsSampleColor: white;
    --lettersColor: black;
    --lettersColor2: grey;
    --commentback: rgb(235, 234, 234);
    --profInfoColor: grey;
    --notifcolor2: #cadfed;
    --postsContainerColorBack: rgb(235, 234, 234);
}

#root.dark {
    --color2: #4d4b4b;
    --colorback: rgba(0, 0, 0, 0.989);
    --boxback: black;
    --color3: rgb(14, 14, 14);
    --blue: rgb(0, 94, 255);
    --blue2: rgb(0, 94, 255);
    --grey: rgb(214, 211, 211);
    --black: black;
    --paleblue: rgba(137, 218, 247, 0.482);
    --unfollowgrey: rgb(250, 249, 249);
    --white: white;
    --notifseen: rgb(247, 244, 244);
    --postActionColor: black;
    --statsSampleColor: black;
    --lettersColor: white;
    --lettersColor2: rgb(229, 226, 226);
    --greyOnDarkOnly: rgb(214, 211, 211);
    --hrcolor: rgb(21, 20, 20);
    --commentback: #040404;
    --profInfoColor: black;
    --notifcolor2: white;
    --postsContainerColorBack: rgb(4, 4, 4);
}


input {
    overflow-wrap: break-word;
    width: 100%;
}
.center-content {
    justify-items: center;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.blur {
    background: inherit;
    box-shadow: 0 8px 32px 0 var(--colorback);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
}
.margin {
    margin: 2%;
}
.margin-top {
    margin-top: 10%;
}
.margin-top-small {
    margin-top: 4%;
}
.margin-top-smaller {
    margin-top: 2%;
}
.margin-left {
    margin-left: 2% !important;
}
.margin-right {
    margin-right: 40px !important;
}
.margin-right-small {
    margin-right: 20px !important;
}
.padding-bottom {
    padding-bottom: 4%;
}
.center-text {
    text-align: center;
}
.my-button {
    padding: 1%;
    border-radius: 8px;
    border: none;
}
.my-button:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}
.error-message {
    color: red !important;
}
.success-message {
    color: green !important;
}
.flex-item {
    flex-grow: 1;
    height: min-content;
    width: 300px !important;
}
.flex-item-big {
    flex-grow: 1;
    height: min-content;
    width: 400px !important;
}
.flex-item-small {
    flex-grow: 1;
    height: min-content;
    width: 100px !important;
}
.flex-item-smaller {
    flex-grow: 1;
    height: min-content;
    width: 50px !important;
}
.flex-item-expand {
    flex-basis: 100%;
    height: min-content;
}
.flex-item-expand2 {
    flex-basis: 70%;
    height: min-content;
}
.flex-layout {
    display: flex;
    flex-flow: row wrap;
}
.button-as-link {
    background-color: inherit;
    padding: 0%;
    border: none;
    color: var(--blue);
}
.button-as-link-grey {
    background-color: inherit;
    padding: 0%;
    border: none;
    color: var(--grey);
}
.button-as-link:hover {
    text-decoration: underline;
    color: var(--lettersColor2);
}
.button-as-link-grey:hover {
    color: var(--lettersColor);
}
.no-margin {
    margin: 1%;
}
.blue-color {
    color: var(--blue);
}
.hidden {
    display: none;
}
textarea {
    border: 1px solid var(--grey);
    border-radius: 6px;
}
.with-whitespace {
    white-space: pre-wrap;
    position: relative; 
}
.break {
    flex-basis: 100%;
    height: 0;
}