@media only screen and (max-width: 830px) {
    .login-box-container{
        width: 80%;
        flex-basis: 100%;
    }
    .login-main-page {
        width: 100%;
        margin-left: 0%;
    }
    .logo-container {
        margin-right: 0%;
    }
}
@media only screen and (min-width: 830px) {
    .login-box-container{
        width: 300px; 
        max-width: 500px;
    }
    .login-main-page {
        width: 70%;
        margin-left: 15%;
    }
    .logo-container {
        margin-right: 0%;
    }
}
.login-box-container {
    min-width: min-content;
    height: 100%;
    min-height: min-content;
    background-color: var(--color2);
    border-radius: 6px;
    padding: 2%;
}
.login-input {
    border: none;
    border-radius: 7px;
    width: 80%;
    height: 30px;
}
.login-input:hover, .login-input:focus {
    border: 2px solid var(--paleblue);
    outline: none;
}
.submit-button {
    width: 150px !important;
}
.logo {
    width: 50%;
    height: 60%;
}
.register-choice-container {
    color: var(--lettersColor);
}