.navbar {
    background-color: var(--color2) !important;
    position: sticky !important;
    top: 0;
    z-index: 2 !important;
}
.navbar-icon {
    height: 20px;
}
.navbar-icon2 {
    height: 23px;
}

.seen {
    background-color: lightgray;
}

.not-seen {
    background-color: white;
    font-weight: bold;
}