.navbar {
    background-color: var(--color2) !important;
    color: var(--lettersColor) !important;
    position: sticky !important;
    top: 0;
    z-index: 3 !important;
}
#basic-navbar-nav {
    max-width: 93vw;
}
.navbar-icon {
    height: 20px;
}
.navbar-icon2 {
    height: 23px;
}
.seen {
    background-color: var(--notifseen);
}
.not-seen {
    background-color: var(--white);
    font-weight: bold;
}
.notif {
    font-size: small;
    margin: 1% 0%;
    background-color: var(--colorback);
}
.notif:hover {
    background-color: var(--notifcolor2);
}
.dropdown-menu {
    background-color: var(--colorback) !important;
    width: 300px;
    z-index: 3 !important;
}
.notif-container {
    max-height: 60vh;
    overflow-y: scroll;
    background-color: var(--colorback);
}
.read-button {
    background-color: var(--color2);
    height: min-content;
    width: 150px;
}
.dropdown-item {
    color: var(--lettersColor);
}
.nav-link, .navbar-brand {
    color: var(--lettersColor) !important;
}