.posts-container, .user-posts-container, .profile-main, .main-page, .main-activity-container {
    margin-top: 50px;
    background-color: var(--postsContainerColorBack);
}
@media only screen and (max-width:800px) {
    .user-posts-container {
        width: 100%;
        position: relative;
    }
}
@media only screen and (min-width:800px) and (max-width:1300px) {
    .user-posts-container {
        width: 60%;
        margin-left: 20%;
        position: relative;
    }
}
@media only screen and (min-width:1300px) {
    .user-posts-container {
        width:900px;
        margin-left: auto;
        margin-right: auto;
    }
}
@media only screen and (max-width:450px) {
    .post-media {
        height: auto;
        width: 80%;
    }
    .posts-pop-up {
        width: 90vw;
        min-width: 150px;
        margin-left: 0vw;    
    }
    .comments-pop-up {
        width: 90vw;
        min-width: 150px;
        margin-left: -5vw;    
    }
    .likes-pop-up {
        width: 90vw;
        left: 5w;
    }
    .likes-comments-pop-up {
        width: 90vw;
        left: 0vw;
    }
    .follows-pop-up {
        width: 95%;
        margin-left: 2.5%;
    }
    .delete-pop-up {
        width: 90vw;
        min-width: 150px;
        margin-left: 5vw;    
    }
    .react-player {
        position: relative !important;
        width: 90vw !important;
        height: 60vh !important; 
    }
}
@media only screen and (min-width:450px) {
    .post-media {
        height: auto;
        width: 400px;
    }
    .posts-pop-up {
        width: 50%;
        min-width: 150px;
        margin-left: 25%;    
    }
    .comments-pop-up {
        width: 70%;
        min-width: 150px;
        margin-left: 15%;    
    }
    .likes-pop-up, .likes-comments-pop-up {
        width: 80%;
        left: 10%;
    }
    .follows-pop-up {
        width: 50%;
        margin-left: 25%;
    }
    .delete-pop-up {
        width: 50%;
        min-width: 150px;
        margin-left: 25%;    
    }
    .player-wrapper {
        width: 100%;
    }
    .react-player {
        position: relative !important;
        width: 100% !important;
        max-width: 700px;
        height: auto; 
        margin-left: auto;
        margin-right: auto;
    }

}
@media only screen and (max-width: 950px) {
    .explore-container {
        display: none;
    }
    .profile-box {
        display: none;
    }
    .posts-container {
        width: auto !important;
        position: relative;
    }
}
@media only screen and (min-width: 950px) {
    .explore-container {
        display: block;
    }
    .profile-box {
        display: block;
    }
    .posts-container {
        width: 55vw !important;
        position: relative;
        max-width: 800px !important;
        padding: 50px;
    } 
    .post-container {
        width: 55vw !important;
    }   
}
@media only screen and (min-width: 1700px) {
    .main-home-container {
        width: 80vw;
        margin-left: 10vw;
    }
    .posts-container {
        width: 65vw !important;
        position: relative;
        max-width: 800px !important;
    }    
}

.all-comments-container {
    width: 100%;
}
.post-container, .user-post-container {
    border-radius: 7px;
    padding: 1% 3%;
    background-color: var(--boxback);
    min-height: min-content;
    position: relative;
    width: 98%;
    margin: 0% 1%;
    margin-bottom: 10px;
}
.pagi-button {
    margin-right: 2%;
    margin-left: 2%;
    background-color: var(--color2);
    max-width: 100px !important;
    color: var(--lettersColor);
}
.owner-name {
    font-weight: bold;
    position: relative;
    color: var(--lettersColor);
}
.post-date{
    font-size: small;
    margin-bottom: 2%;
    line-height: 90%;
    color: var(--lettersColor);
}
.user-photo-container {
    height:50px;
    width:50px;
    border-radius: 50%;
    padding: 0%;
    margin-right: 0.5%;
    background-color: var(--userphotoback);
}
.user-photo {
    height: 100%;
    width: 100%;
    border-radius: 40%;
}
.post-body {
    min-height: 100px;
    height: min-content;
    padding: 5px 0px;
    color: var(--lettersColor);
}
.post-media {
    border-radius: 5px;
}
.stats-sample {
    min-height: min-content;
    background-color: var(--statsSampleColor);
    color: var(--lettersColor);
}
.likes-sample-num  {
    margin-top:0.5%;
    margin-left: 2%;
}
.like-icon {
    width: 30px;
    height: 25px;
}
.comment-icon {
    width: 27px;
    height: 27px;
}
.like-emoji-icon {
    width: 15px;
    height:18px;
    margin-top: 5px;
}
.like-icon-small {
    width: 20px;
    height:20px;
}
.likes-sample {
    margin-right: 20px;
    max-width: 300px;
    position: relative;
    color: var(--lettersColor);
}
.comments-sample {
    max-width: 300px;
    color: var(--lettersColor);
    margin-top: 3px;
}
.post-actions {
    width: 100%;
    background-color: var(--postActionColor)
}
.likes-action, .comments-action, .edit-action-container {
    color: var(--grey);
    font-weight: bold;
    text-decoration: none;
}
.likes-action:hover, .comments-action:hover, .edit-action:hover {
    color: var(--blue);
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    text-decoration: none;
}
.liker-sample, .likes-sample-num {
    font-size: small !important;
    color: var(--grey);
    margin-top: 2px;
    margin-left: 1px;
} 
.edit-action-container {
    position: absolute;
    right: 0;
    margin-right: 7px;
    font-size: small;
    background-color: var(--greyOnDarkOnly);
    padding: 1%;
    border-radius: 6px;
}
.post-textarea-edit {
    width: 100%;
    margin-left: 2%;
    min-height: 150px !important;
}
.post-textarea-edit__input {
    color: var(--lettersColor);
}
.post-textarea-edit__suggestions {
    background-color: var(--color2) !important;
    border-radius: 6px;
    top: 5px !important;
    padding: 5px;
}
.post-textarea-edit__suggestions__item:hover {
    background-color: var(--boxback);
}
.post-text {
    margin-left: 2%;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}
.posts-pop-up, .delete-pop-up {
    z-index: 1;
    top: 05%;
    position: absolute;
    background-color: var(--color2);
    min-height: min-content;
    border-radius: 7px;
    padding: 2% 2%;
    animation:
        pop-up-appearing 1s;
}
.add-post-button {
    position: absolute;
    top: 5px;
    background-color: var(--color2);
    color: var(--lettersColor);
    margin-left: 1%;
    width: 280px !important;
    padding: 8px;
    border-radius: 8px;
    border: none;
}
.small-icon {
    height: 17px;
    width:  17px;
    margin-right: 2px;
    margin-top: -2px;
}
.new-post-container {
    background-color: var(--boxback);
    border-radius: 7px;
    margin: 1%;
    padding: 1%;
    color: var(--lettersColor);
}
.backcolor2 {
    background-color: var(--color2);
    padding: 1%;
}
.backcolor2:focus {
    outline: none;
}
.margin-side {
    margin: 0% 2%;
}
.player-wrapper {
    height: auto; 
}
.react-player > div {
    position: absolute; 
}
.up-button {
    position: fixed;
    bottom: 10px;
    right: 10px;
    border: none;   
    width: 50px;
    height: 70px;
}
.likes-kinds-buttons {
    color: var(--lettersColor);
    background-color: inherit;
    border: none;
    border-bottom: 1px solid var(--lettersColor);
    margin: 0px 5px;
}
.reactions-box {
    font-size: 30px;
    position: absolute;
    z-index: 3;
    background-color: var(--color3);
    border-radius: 10px;
    width: 250px;
    height: min-content;
    padding: 5px;
    top: -55px;
    left: -70px;
}
.react-choice {
    background-color: inherit;
    border: none;
    padding: 1px;
}
.react-cancel-button {
    background-color: grey;
    border-radius: 50%;
    padding: 1px 7px;
    height: 30px;
}
.verified-icon {
    margin-left:3px;
    height: 15px;
    width: 15px;
}
.verified-icon-bigger {
    margin-left:5px;
    height: 18px;
    width: 18px;
}