@media only screen and (max-width: 830px) {
    .adjusted-width {
        width: 100%;
        margin-left: 0%;
    }
    .follows-pop-up {
        width: 80%;
        margin-left: 10%;
    }
}
@media only screen and (min-width: 830px) {
    .adjusted-width {
        width: 80%;
        margin-left: 10%;
    }
    .follows-pop-up {
        width: 50%;
        margin-left: 25%;
    }
}


.profile-info {
    background-color: rgb(242, 240, 240);
    border-radius: 7px;
    margin: 1%;
    padding: 1%;
    padding-bottom: 5%;
    line-height: 2;
    min-height: min-content;
    flex-grow: 1;
}

.profile-main {
    width: 80%;
    margin-left: 10%;
}

.profile-username {
    font-weight: bold;
}

.user-photo-profile-container {
    height:170px;
    width: 180px;
    margin-left: 1%;
    border-radius: 50%;
}

.follows-pop-up {
    z-index: 1;
    top: 20%;
    position: absolute;
    background-color: rgb(230, 230, 230);
    min-height: min-content;
    border-radius: 7px;
    padding: 2% 1%;
    animation:
        pop-up-appearing 1s;
}

.foll-button {
    background-color: var(--color2);
    border-radius: 8px;
    border: none;
    width: 80px;
    height: min-content;
}

.foll-button:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}
