.profile-box {
    background-color: var(--color2);
    border-radius: 7px;
    margin-right: 1%;
    margin-top: 1%;
    height: min-content;
    padding: 1%;
    width: min-content !important;
    flex-grow: 1;
    width: 100px;
    min-width: min-content;
}