@media only screen and (max-width: 830px) {
    .adjusted-width {
        width: 100%;
        margin-left: 0%;
    }
    .follows-pop-up {
        width: 95%;
        margin-left: 2.5%;
    }
}
@media only screen and (min-width: 830px) {
    .adjusted-width {
        width: 80%;
        margin-left: 10%;
    }
    .follows-pop-up {
        width: 50%;
        margin-left: 25%;
    }
}
@media only screen and (max-width: 450px) {
    .user-photo-profile-container {
        height:auto;
        max-height: 18vh;
        min-height: 15vh;
        width: 30vw;
    }
}
@media only screen and (min-width: 450px) {
    .user-photo-profile-container {
        height:auto;
        max-height: 30vh;
        min-height: 20vh;
        width: 25vw;
    }    
}

@media only screen and (min-width: 653px) {
    .profile-info {
        max-width: 40% !important;
    }
}

@media only screen and (max-width: 653px) {
    .profile-info {
        max-width: 100% !important;
    }

}

.profile-info {
    background-color: rgb(242, 240, 240);
    border-radius: 7px;
    margin: 1%;
    padding: 1%;
    padding-bottom: 5%;
    line-height: 2;
    min-height: min-content;
    flex-grow: 1;
    overflow-wrap: break-word;
}
.profile-main {
    width: 80%;
    margin-left: 10%;
}
.profile-username {
    font-weight: bold;
}
.user-photo-profile-container {
    margin-left: 1%;
    border-radius: 50%;
}
.follows-pop-up {
    z-index: 1;
    top: 05%;
    position: absolute;
    background-color: rgb(230, 227, 227);
    min-height: min-content;
    border-radius: 7px;
    padding: 2% 1%;
    animation:
        pop-up-appearing 1s;
}
.foll-button {
    background-color: var(--color2);
    border-radius: 8px;
    border: none;
    width: 80px;
    height: min-content;
}
.foll-button:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}
.save-moto-button {
    height: min-content;
    background-color: var(--color2);
    padding: 0% 1% !important;
}
.clean-style {
    border: none;
    border-radius: 5px;
}
.photo-pop-up {
    z-index: 1;
    top: 20%;
    width: min-content;
    margin-left: 0%;
    position: absolute;
    background-color: var(--color2);
    height: min-content;
    border-radius: 7px;
    padding: 7% 0%;
    animation:
        pop-up-appearing 1s;
}
.delete-account-button {
    background-color: red !important;
    color: white !important;
    font-weight: bolder;
}