@media only screen and (max-width: 830px) {
    .adjusted-width {
        width: 100%;
        margin-left: 0%;
    }
}
@media only screen and (min-width: 830px) {
    .adjusted-width {
        width: 80%;
        margin-left: 10%;
    }
}


.profile-info {
    background-color: white;
    border-radius: 7px;
    margin: 1%;
    padding: 1%;
    line-height: 2;
}

.profile-main {
    width: 80%;
    margin-left: 10%;
}

.profile-username {
    font-weight: bold;
    font-size: larger;
}

.user-photo-container2 {
    height:200px;
    width: 200px;
    border-radius: 50%;
    padding: 0%;
    margin: 0%;
}

.follows-box {
    position: absolute;
    top: 10%;
    left: 20%;
    width: 200px;
    background-color: white;
    border-radius: 7px;
    margin: 1%;
    padding: 1%;
}

.follows-box2 {
    position: absolute;
    top: 10%;
    left: 0%;
    width: 200px;
    background-color: white;
    border-radius: 7px;
    margin: 1%;
    padding: 1%;
}

.foll-button {
    margin-right: 2%;
    margin-left: 2%;
    background-color: var(--color2);
    border-radius: 8px;
    border: none;
}

.foll-button:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}
