.profile-summary {
    background-color: var(--color2);
    border-radius: 7px;
    margin-right: 1%;
    margin-top: 1%;
    height: min-content;
    padding-bottom: 1%;
    width: 100px !important;
}