.profile-card {
    position: absolute;
    background-color: rgb(70, 68, 68);
    border-radius: 10px;
    color: white !important;
    z-index: 10;
    animation:
        pop-up-appearing 1s;
}
.pos-top {
    top: -200px;
}
.pos-bottom {
    bottom: -170px;
}
.pos-bottom-more {
    bottom: -200px;
}
.pos-right {
    right: -150px;
    top: -50px;
}
.pos-right-more {
    right: -160px;
    top: -50px;
}
.pos-top-close {
    top: -170px;
}