#suggestions-box {
    height: min-content;
    max-height: 200px;
    overflow-y: scroll;
    width: 250px;
    background-color: white;
    border-radius: 0px;
    border: 1px solid lightgrey;
    z-index: 2;
}
.one-suggestion {
    color: grey;
}
.one-suggestion:hover {
    text-decoration: none;
    font-weight: bold;
    background-color: antiquewhite;
    color: grey;
}
.form-container {
    z-index: 2;
    margin-top: 5px;
    margin-left: 1%;
    position: absolute;
}
#search-button {
    margin-left: 2px;
}
#search-button {
    border: 2px solid grey;
}
.form-control {
    border: 1px solid grey;
}
.form-control:hover {
    border: 2px solid grey;
}